---
key: 2
title: Resume
permalink: resume/
excerpt: From a professional standpoint, this is who I am. If you're looking to hire me, this is probably what you're looking for.
image: assets/img/DSC02161.jpg
caption: photo &#58; rockville,utah - outside of zion national park
---
<!-- http://preview.themeforest.net/item/desmond-resume-cv-html-template/full_screen_preview/15956797 -->

<div class="resume">
    <div class="resume-section">
        <div class="left-resume-col">
            <h2>Expertise</h2>
            <p>(Stuff I'm good at)</p>
        </div>
        <div class="right-resume-col">
            <div class="resume-row">
                {% for experience in site.data.resume.experiences %}
                {% assign loopindex = forloop.index | modulo: 2 %}
                {% if loopindex == 1 and forloop.index >= 2 %}
            </div>
            <div class="resume-row">
                {% endif %}
                <div class="resume-item">
                    <h4 class="resume-item-count">0{{forloop.index}}</h4>
                    <div class="resume-item-body">
                        <h4>{{experience.title}}</h4>
                        <p>{{experience.description}}</p>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<div class="resume-section">
    <div class="left-resume-col">
        <h2>Skills</h2>
        <p>(things I Know)</p>
    </div>
    <div class="right-resume-col">

            <div class="resume-row">
                    {% for skill in site.data.resume.skills %}
                    {% assign loopindex = forloop.index | modulo: 2 %}
                    {% if loopindex == 1 and forloop.index >= 2 %}
                </div>
                <div class="resume-row">
                    {% endif %}
                    <div class="resume-item">
                        <div class="resume-item-body">
                            <h4>{{skill.title}}</h4>
                            <div class="meter">
                                    <span style="width: {{skill.percent}}%"></span>
                                </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
    </div>
</div>
</div>


<div style="text-align: center">
    <h1 style="margin-bottom: 0">Nick Fish</h1>
    <p style="margin: 0">Software Engineer</p>
    <p style="margin: 0">thenickfish@protonmail.com</p>
    <p style="margin: 0">SLC, UT</p>
</div>

I crave learning and outside of my professional life still pursue education in my personal time. I'm always trying to
learn new techniques, architectures, and technologies. I value writing clean and testable code, and always try to find
a balance between simplicity and flexibility.


Technology Summary:
Languages: C#, Java, C++, Typescript
Development Tools & Methods:
Systems:
Databases:


<h2 style="text-align: center">SelectHealth</h2>
<!-- ###### something-present -->
**Software Engineer (Feb 2016 - present)**
- Developing and maintaining custom software using various technologies
- .NET/ .NET Core
- SQL (Sql Server, Sybase ASE)
- Angular + SCSS
- git (Bitbucket server)
- docker
- IIS
- Docker
- Member of governance team
- Assist other team member with "dockerization" of their applications
- Driving organization toward innovation by replacing outdated processes
- Jenkins + implementing CI/CD
- Pushed team toward Jenkins pipeline (instead of Freestyle builds)
- Pull request automation
- Unit testing
- linting
- static analysis
- code coverage
- Automated on-prem deployments
- Automated integration testing
- Innovation
- Installed Kafka/ Zookeeper cluster
- Installed ELK stack, demonstrated visualizations in Kibana
- Guiding team toward new technoloies and ideas
- Agile methodologies, Kanban
- Delegating work to offshore development, and creating processes to check code quality
- Providing tech leadership to the development team

**Business Analyst (Feb 2013 - Feb 2016)**

- Biztalk server development (XSLT)
- Writing X12 EDI File Parser to canonical format
- Java/ C# Development
- Assisting with integrations with partners
- Writing complex SQL queries
- Process Improvement

**Enrollment Processor (May 2012 - Feb 2013)**

- Microsoft Office automation using VBA
- Process automation
- Writing complex SQL queries

<h2 style="text-align: center">Intermountain Healthcare</h2>
**Equipment Tracking Coordinator (Jun 2011 - May 2012)**
- Replacing manual processes with semi-automation (via MS Access)
- Writing SQL queries

**HME Processing Tech (Aug 2010 - Jun 2011)**

**Various (Aug 2006 - Aug 2010)**